* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: rgb(146, 146, 228);
    margin-top: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
}

h1 {
    font-family: cursive;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 40px;
    font-size: 50px;
}

.numeros {
    font-family: cursive;
    align-items: center;
    justify-content: center;
    display: flex;
}

#txtn1 {
border-radius: 15px;
width: 150px;
height: 40px;
margin-right: 50px;
font-size: 30px;
background-color: aliceblue;
font-family: cursive;
}

#txtn2 {
    border-radius: 15px;
    width: 150px;
    height: 40px;
    margin-left: 50px;
    font-size: 30px;
    background-color: aliceblue;
    font-family: cursive;
}

#somar {
    font-family: cursive;
    align-items: center;
    justify-content: center;
    display: flex;
}

#botao {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: aliceblue;
    font-size: 30px;
    font-family: cursive;
    margin-top: 20px;
    padding-bottom: 40px;
    cursor: pointer;
}

#res {
    font-family: cursive;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    font-size: 35px;
}

.container {
    background: rgb(173, 173, 224);
    width: 900px;
    height: 350px;
    border: 5px inset rgb(127, 204, 223);
  border-radius: 15px;

}